/* ------------- =General -------------- */

html {
  line-height: 1.5;
  background-color: #dbd6cf;
  color: #fff;
  box-sizing: border-box;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* ------------- =heading -------------- */

h1 {
  font-family: "Bevan";
}

/* ------------- =navigation-------------- */

nav ul li {
  font-family: sans-serif;
  list-style: none;
}

.cards header nav ul li a {
  display: inline-block;
  padding: .6em .5em .75em;
  margin: 3em;
  background-color: #713837;
}

a:hover {
  background-color: #f33;
}
