/* ------------- =General -------------- */

html {
  line-height: 1.5;
  background-color: #dbd6cf;
  color: #fff;
  box-sizing: border-box;
}

*, *::before, *::after {
box-sizing: inherit;
}

/* ------------- =heading -------------- */

h1 {
  font-family: "Bevan";
}

/* ------------- =navigation-------------- */

header nav ul li a {
  display: block;
  padding: .6em .5em .75em;
  margin: 3em;
  background-color: #713837;
}

a:hover {
  background-color: #f33;
}
