/* ------------- =General -------------- */

html {
  line-height: 1.5;
  background-color: #dbd6cf;
  color: #fff;
  box-sizing: border-box;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* ------------- =heading -------------- */

h1 {
  font-family: Bevan;
}

/* ------------- =navigation-------------- */

header {
  display: block;
  background-color: #79756f;
  border-color: #595652;
}

body {
  font-family: sans-serif;
  margin: 3em;
  display: block;
  background-color: #79756f;
  border-color: #595652;
}

.cards li {
  display: inline-block;
  background-color: #713837;
  padding: .6em .5em .75em;
  list-style-type: none;
  text-align: center;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #fff;
}

.cards li:hover {
  background-color: #f33;
}

.cards a:hover {
  color: #fff;
}
